html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  * {
    text-decoration: none;
    font-family: ;
    margin: 0px;
}


.barra {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    align-items: center;
    z-index: 1;
    border-bottom: 2px inset rgba(22, 20, 21, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    background-color:#ffffff;
}

.icono {
 
}

.toggle{
  color: #47046e;
  background-color: transparent;
  border: none;
  font-size: 30px;
  display: none;
  width: 40px;
  cursor: pointer;
}

.opciones-navegacion {
  display: flex;
  gap: 10px;
  font-size: 18px;
  list-style-type: none;
}

.opciones-navegacion a {
  color: black;
  padding: 5px;
  margin-left: 10px;
  
}

.opciones-navegacion a:hover {
  color: purple;
  background-color: rgb(230, 124, 230);
  border-radius: 50%;
  padding: 0px;
  border-radius: 20px;
}

#barra-colabora {
  color: azure;
  background-color: purple;
  padding: 15px;
  border-radius: 20px;
}

#barra-colabora:hover {
  color: rgb(70, 17, 70);
  background-color: rgb(255, 220, 196);
}

#barra-contactenos {
  color: rgb(51, 43, 33);
  border: 2px solid purple;
  padding: 15px;
  border-radius: 20px;
}

#barra-contactenos:hover {
  color: rgb(255, 255, 255);
  border: 2px solid purple;
  background-color: rgb(230, 124, 230);
  padding: 15px;
  border-radius: 20px;
}

.container-cita {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-color: #f0ffff;
  }



.wave-1{
  position: relative;
  top: -30px;
}

.wave-2{
  position: relative;
  top: 30px;
}

.cita{
  font-size: 60px;
  align-items: center;
  justify-content: center;
}

#vinculo-1 {
  color: white;
  background-color: purple;
  border: 2px solid rgb(91, 18, 105);
  padding: 10px;
  border-radius: 34px;
  font-size: 35px;
  height: fit-content;
  max-height: 100px;
  padding-left: 15px;
  width: 200px;
  padding-right: 15px;
}

#vinculo-1:hover {
  color: rgb(117, 37, 93);
  background-color: rgb(230, 124, 230);
  
}

.solicita-cita {
  width: auto;
  height: 150%;
}

#imagen-1 {
  border-radius: 100%;
  max-width: 80%;
}

.container-2{
  width: 100%;
}

.container-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin: 0px 10px;
}

.servicio {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  width: 320px;
  height: 400px;
  background-color: rgba(146, 255, 250, 0.411);
  border-radius: 50px;
  border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(145deg, #e0b4b4, #ffd6d6);
  box-shadow:  11px 11px 20px #caa2a2,
               -11px -11px 20px #ffeeee;
}

.servicio:hover{
  border-radius: 50px;
  background: #ff999e;
  box-shadow:  -20px -20px 60px #d98286,
              20px 20px 60px #ffb0b6;
  transition: all ease 0.2s;
}

.servicio:hover .texto-inferior-servicios{
  background-color: rgb(189, 51, 51);
  zoom: 125%;
  /* border: 1px solid gray; */
  box-shadow: 0px 0px 4px 0px rgba( 0,  0, 0, .5);
}

.text-sup {
  color: #47046e;
  font-size: 1.2rem;
  /* margin-top: -40px;
  margin-bottom: -90px; */
  margin: -30px auto;
}

.servicio:hover .text-sup {
  color: #47046e;
  font-size: 20px;
  text-shadow: 2px 1px 1px rgb(74, 80, 50);
}

.servicio-1 {   
  text-align: center;
  /* background-color: #ada0b2; */
}

.texto-servicios {
  text-align: center;
  margin: 60px;
  color: #ffffff;
}

.texto-inferior-servicios {
  padding: 10px;
  background-color: purple;
  border-radius: 30px;
}



.container-nosotros {
  display: flex;
  background-color: #f0ffff;
  
}

#imagen2{
  position: absolute;
  z-index: -1;
}

.nosotros {
  /* align-items: center;
  justify-content: space-around; */
  width: 100%;
  text-align:left;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-left: 20px;
  @media screen max-width(800px){
    display: grid;
    grid-row: 1fr;
     
    }
  
}

.derecha-nosotros{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-left: 100px;
  margin-top: 17px;
}

.imagenes-nosotros-1{
  box-shadow: 8px 6px 14px rgba(0, 0, 0, .5);
}

.container-desarrollo{
  align-items: center;
  text-align: center;
}

.titulo-formarse, .titulo-nosotros{
  margin-bottom: 1rem;
}

.desarrollo-disponible {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin: 0px 10px;
}

.desarrollo{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  width: 320px;
  height: 400px;
  background-color: rgb(255, 205, 248);
  border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(145deg, #c2b4c9, #e7d6ef);
  box-shadow:  20px 20px 60px #ada0b2,
              -20px -20px 60px #fff0ff;
}

.desarrollo:hover{
  border-radius: 50px;
  background: linear-gradient(145deg, #835595, #9b65b2);
  box-shadow:  20px 20px 60px #744b85,
               -20px -20px 60px #ae71c7;
   zoom: 105%;
   transition: all ease 0.5s;
}

.titulo-desarrollo {   
  text-align: center;
}

.texto-desarrollo {
  text-align: center;
  margin: 30px;
  margin-top: 10px;
}

.titulo-superior-desarrollo {
  color: #f0ffff;
  font-size: 20px;
  text-shadow: 4px 2px 2px black;
}

#desarrollo-1 {
  background-image: url("/images/servicio-1b.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 80%  80%;
  margin-top: 10px;
}

#desarrollo-2 {
  background-image: url("/images/posible-servicio-2.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 80%  80%;
  margin-top: 10px;
}

#desarrollo-3 {
  background-image: url("/images/servicio-3.jpg");
 background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 80%  80%;
 margin-top: 10px;
}

#desarrollo-4 {
  background-image: url("/images/posible-servicios-4.jpg");
 background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 80%  80%;
 margin-top: 10px;
}

#desarrollo-5 {
  background-image: url("/images/servicio-5.jpg");
 background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 80%  80%;
 margin-top: 10px;
}

#desarrollo-6 {
  background-image: url("/images/servicio-6.jpg");
 background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 80%  80%;
 margin-top: 10px;
}

.container-desarrollo {
  margin-bottom: 5rem;
}

.cursos-informacion{
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
}

.cursos{
  width: 100%;
  margin-top: 50px;
}

#boton-cursos{
 
  background-color: #a676b8;
  color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 34px;
}

#boton-cursos:hover{
  background-color: #8932a8;
  color: rgb(255, 0, 0);
  zoom: 120%;
}



.container-vinculos {
  gap: 10px;
}

.legal, .legal li a {
  color: rgb(204, 33, 20);
}


.pie-de-pagina, .pie-de-pagina a{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.pie-de-pagina:hover, .pie-de-pagina a:hover {
  color: #ff999e;
}

.pie-de-pagina{
  border-top: 5px inset rgba(22, 20, 21, 0.05) ;
}

.pie-de-pagina p {
  color: #ff999e;
}

.redes {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  justify-content: center;
  text-align: center; 
  gap: 2rem;
  padding: 1% 0;
  margin: auto;
}

.container-vinculos, .container-redes, .container-legal{
  margin: auto;
  text-align: center;
}

.vinculos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style:square;
  margin-top: 2%;
  gap: 5px;
  text-align:justify;
  margin-left: 10%;
}

.titulo-redes {
  text-align: center;
  margin: 4% 0px 0px 10%;
}

 .legal, .redes-sociales{
  display: flex;
  gap: 50px;
  justify-content: center;
  list-style: none;
  margin: 2% auto;
}

.images-redes:hover{
  zoom: 120%;
}

.direccion-footer{
  position: relative;
  bottom: -70px;
  right: -20px;
}

@media screen and (max-width:1300px){
  .barra{
    grid-template-columns: 1fr 7fr;
  }
}

@media screen and (max-width:1279px){
  .opciones-navegacion {
    gap: 5px;
    font-size: 16px;
  }

  .opciones-navegacion a {
    padding: 5px;
    margin-left: 10px;
  }
}
@media screen and (max-width:1160px){
  .opciones-navegacion {
    gap: 0px;
    font-size: 16px;
  }

  .opciones-navegacion a {
    padding: 0px;
    margin-left: 10px;
  }
}

@media screen and (max-width:1090px){
  .nosotros{
    width: 100%;
  text-align:left;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr ;
  gap: 50px;
  justify-content: space-around;
  align-content: space-around;
  }
  .nosotros-centro{
    margin: 0%;
  }

  #imagen-nosotros{
    display: none;
  }

  .derecha-nosotros{
   margin: 0px;
   display: flex;
   justify-content: space-around;
  }
}

@media screen and (max-width:1075px) {
  body{
  width: 100%;
  margin: 0;
  }
  .opciones-navegacion{
   flex-direction: column;
   background-color: #6e53e6;
   position: fixed;
   left: 0%;
   top: 67px;
   width: 100%;
   
   height: calc(100% - 66px);
   overflow-y: auto;
   gap: 25px;
   padding-top: 3%;
   left: 100%;
   transition: left 0.5s;
   text-align: center;
   align-items: center;
  }

   .barra{
    display: flex;
    justify-content: space-between;
  }
  #barra-colabora {
    padding: 5px;
    background-color: transparent;
  }

  #barra-contactenos{
    padding: 5px;
    border: none;
  }

  .opciones-navegacion a, #barra-colabora, #barra-contactenos{
    background-color: none;
    color: #000000;
    border-radius: none;
  }

  .opciones-navegacion a:hover{
    color: rgb(255, 255, 255);
    border: 2px solid purple;
    background-color: rgb(230, 124, 230);
    padding: 15px;
    border-radius: 20px;
  }

  #barra-colabora:hover{
    color: rgb(255, 255, 255);
    border: 2px solid purple;
    background-color: rgb(230, 124, 230);
    padding: 15px;
    border-radius: 20px;
  }

  .toggle{
    display: flex;
    justify-content: right;
    margin-right: 5%;
  }

  .opciones-navegacion-visible{
  left: 0%;
  width: 100%;
  text-align:center;
  align-items: center;
  margin: auto;
  }

  .opciones-navegacion-visible a {
  text-align: left;
  }
}

@media screen and (max-width:900px) {
  .redes{
  grid-template-columns: 1fr;
  }

  .legal{
  margin-top: 0%;
  }

  .direccion-footer{
  display: none;
  }
}

@media screen and (max-width:880px) {
  #imagen-1{
    display: none;
  }

  .derecha-nosotros{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
}

@media screen and (max-width:440px) {
  .container-cita{
    
  }

  .cita{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  #vinculo-1 {
    color: white;
    background-color: purple;
    border: 2px solid rgb(91, 18, 105);
    padding: 10px;
    border-radius: 34px;
    font-size: 25px;
    height: fit-content;
    max-height: 100px;
    padding-left: 15px;
    width: 100%;
    padding-right: 15px;
    margin-top: 50px;
  }
  
  .vinculos{
    grid-template-columns: 1fr;
  }

  .derecha-nosotros{
    display: none;
  }
}