html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  
  * {
    text-decoration: none;
    font-family: ;
    margin: 0px;
  }
  
  
  .barra {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    align-items: center;
    z-index: 1;
    border-bottom: 2px inset rgba(22, 20, 21, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    background-color:#ffffff;
}

.icono {
 
}

.toggle{
  color: #47046e;
  background-color: transparent;
  border: none;
  font-size: 30px;
  display: none;
  width: 40px;
  cursor: pointer;
}

.opciones-navegacion {
  display: flex;
  gap: 10px;
  font-size: 18px;
  list-style-type: none;
}

.opciones-navegacion a {
  color: black;
  padding: 5px;
  margin-left: 10px;
  
}

.opciones-navegacion a:hover {
  color: purple;
  background-color: rgb(230, 124, 230);
  border-radius: 50%;
  padding: 0px;
  border-radius: 20px;
}

#barra-colabora {
  color: azure;
  background-color: purple;
  padding: 15px;
  border-radius: 20px;
}

#barra-colabora:hover {
  color: rgb(70, 17, 70);
  background-color: rgb(255, 220, 196);
}

#barra-contactenos {
  color: rgb(51, 43, 33);
  border: 2px solid purple;
  padding: 15px;
  border-radius: 20px;
}

#barra-contactenos:hover {
  color: rgb(255, 255, 255);
  border: 2px solid purple;
  background-color: rgb(230, 124, 230);
  padding: 15px;
  border-radius: 20px;
}
  
 .container{
  display: grid;
  background-color: aquamarine;
  margin-top: 67px;
}

  .container-nosotros{
    margin: 30px auto;
  }

  .text-nosotros{
    text-align: center;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  
  .container-vinculos {
    gap: 10px;
  }
  
  .legal, .legal li a {
    color: rgb(204, 33, 20);
  }
  
  
  .pie-de-pagina, .pie-de-pagina a{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  
  .pie-de-pagina:hover, .pie-de-pagina a:hover {
    color: #ff999e;
  }
  
  .pie-de-pagina{
    border-top: 5px inset rgba(22, 20, 21, 0.05) ;
  }
  
  .pie-de-pagina p {
    color: #ff999e;
  }
  
  .redes {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    justify-content: center;
    text-align: center; 
    gap: 2rem;
    padding: 1% 0;
    margin: auto;
  }
  
  .container-vinculos, .container-redes, .container-legal{
    margin: auto;
    text-align: center;
  }
  
  .vinculos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style:square;
    margin-top: 2%;
    gap: 5px;
    text-align:justify;
    margin-left: 10%;
  }
  
  .titulo-redes {
    text-align: center;
    margin: 4% 0px 0px 10%;
  }
  
   .legal, .redes-sociales{
    display: flex;
    gap: 50px;
    justify-content: center;
    list-style: none;
    margin: 2% auto;
  }
  
  .images-redes:hover{
    zoom: 120%;
  }
  
  .direccion-footer{
    position: relative;
    bottom: -70px;
    right: -20px;
  }

  @media screen and (max-width:1300px){
    .barra{
      grid-template-columns: 1fr 7fr;
    }
  }
  
  @media screen and (max-width:1279px){
    .opciones-navegacion {
      gap: 5px;
      font-size: 16px;
    }
  
    .opciones-navegacion a {
      padding: 5px;
      margin-left: 10px;
    }
  }
  @media screen and (max-width:1160px){
    .opciones-navegacion {
      gap: 0px;
      font-size: 16px;
    }
  
    .opciones-navegacion a {
      padding: 0px;
      margin-left: 10px;
    }
  }
  @media screen and (max-width:1075px) {
    body{
    width: 100%;
    margin: 0;
    }
  
    .container-tramites{
      gap: 10px;
    }
  
  
     .barra{
      display: flex;
      justify-content: space-between;
    }
    #barra-colabora {
      padding: 5px;
      background-color: transparent;
    }
  
    #barra-contactenos{
      padding: 5px;
      border: none;
    }
  
    .opciones-navegacion a, #barra-colabora, #barra-contactenos{
      background-color: none;
      color: #000000;
      border-radius: none;
    }
  
    .opciones-navegacion a:hover{
      color: rgb(255, 255, 255);
      border: 2px solid purple;
      background-color: rgb(230, 124, 230);
      padding: 15px;
      border-radius: 20px;
    }
  
    #barra-colabora:hover{
      color: rgb(255, 255, 255);
      border: 2px solid purple;
      background-color: rgb(230, 124, 230);
      padding: 15px;
      border-radius: 20px;
    }
  
    .toggle{
      display: flex;
      justify-content: right;
      margin-right: 5%;
    }
  
    .opciones-navegacion{
      flex-direction: column;
      background-color: #6e53e6;
      position: fixed;
      left: 0%;
      top: 67px;
      width: 100%;
      
      height: calc(100% - 66px);
      overflow-y: auto;
      gap: 25px;
      padding-top: 3%;
      left: 0%;
      transition: left 0.5s;
      text-align: center;
      align-items: center;
     }
     .opciones-navegacion-visible{
     left: 100%;
     width: 100%;
     text-align:center;
     align-items: center;
     margin: auto;
     }
  
    .opciones-navegacion-visible a {
    text-align: left;
    }
    .video{
      width: 600px;
      height: 400px;
    }
  }
  
  @media screen and (max-width:900px) {
    .redes{
    grid-template-columns: 1fr;
    }
  
    .legal{
    margin-top: 0%;
    }
  
    .direccion-footer{
    display: none;
    }

    .text-nosotros{
      font-size: 40px;
    }
  }
  
  @media screen and (max-width:700px){
    .video{
      width: 400px;
      margin: 10px auto;
      height: 250px;
    }
  }

  @media screen and (max-width:500px){
    .video{
      width: 300px;
      margin: 10px auto;
    }
    .text-nosotros{
      font-size: 25px;
    }
  }

  @media screen and (max-width:440px) {
    .vinculos{
      grid-template-columns: 1fr;
    }
    .images-redes{
      width: 23px;
    }
    .redes{
      margin: auto;
    }
  }

  @media screen and (max-width:330px){
    .video{
      width: 200px;
      margin: 10px auto;
      height: 200px;
    }
    .text-nosotros{
      font-size: 25px;
    }
  }
